.pic {
    height: 17rem;
}


#diablo {
	font-family: 'Faster One', cursive;
	text-align: center;
	font-size: 5em;
	padding-bottom: 0rem;
	margin-bottom: 0rem;
}

.jumbotron {
    padding: 3rem 2rem 3rem 1rem;
    margin: 0 0 0 0;
    text-align: center;
}

.maintext {
	text-align: justify;
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #343a40;
    color: white;
}

p {
    margin-bottom: 0rem;
}

.hide-bullets {
    list-style:none;
    margin-left: -40px;
    margin-top:20px;
}

.carousel-control-prev {
    left: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x
}

.carousel-control-next {
    right: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 100%);
    background-repeat: repeat-x
}

.carousel-control-prev .carousel-control-next{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    width: 5%;
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.6) 0px 1px 2px;
    opacity: 0.5;
}

.carousel-caption {
  position: relative;
  left: 0%;
  right: 0%;
  bottom: 0px;
  z-index: 10;
  padding-top: 0px;
  padding-bottom: 0px;
  color: #000;
  text-shadow: none;
  & .btn {
    text-shadow: none; // No shadow for button elements in carousel-caption
  }
}
